* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
}

body{
    height: 100vh;
    background-color: #F6F8F9;
}

header {
    background-color: white;
}

header div {
    padding: 10px;
}

header img {
    height: 120px;
    vertical-align: bottom;
}

h1{
    display: inline;
    line-height: 120px;
    margin-left: 10px;
    font-size: 70px;
    color: #343232;
  
}